body {
    background-color:#f4f9f9;
}
h1{
    color: black;
}
h3{
    color: #66BFBF;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 10%;
}	
img {
    height: 100px;
}