/************TAG SELECTOR**********/
body {
  background-color: powderblue;
}
h3 {
  color: red;
  font-size: 100px;
}
p {
  font-size: 20px;
}
h1 {
  color: darkgreen;
  font-size: 40px;
}


img :hover{
    background-color: gold;
}

/*************CLASS SELECTOR**********/

.subway {
  background-color: green;
}
.cucumber {
  border: 1px solid red;
  background-color:black;
}
.circular {
  border-radius: 500px;
}
/***************ID SELECTOR**************/

#heading {
  color: red;
}
